<% @videos.each do |video| %>
    <div class="card max-w-xs mx-auto bg-white shadow-lg my-8">
      <figure>
        <%= raw embed_youtube(h(video.url)) %>
      </figure>
      <div class="card-body">
        <h2 class="card-title"><%= link_to video.title, video_path(video), class: "nav-link" %></h2>
        <%= render "bookmark_buttons", { video: video } %>
        <% if video.user_id == current_user.id %>
          <div class="flex justify-end">
            <button class="py-1 px-5 w-20 bg-red-500 rounded-2xl text-white font-black">
              <%= link_to '削除', video_path(video), id: "button-delete-#{video.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
