<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to 'Animal Bliss', root_path, class: "text-xl" %>
  </div>
  <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
   <li><%= link_to t('header.video_index'), videos_path, class: "nav-link" %></li>
   <li><%= link_to t('header.video_posting'), new_video_path, class: "nav-link" %></li>
   <li><%= link_to t('header.logout'), logout_path, class: "nav-link", data: { turbo_method: :delete } %></li>
  </ul>
</div>
