<div class="navbar bg-base-300">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Animal Bliss</a>
  </div>
  <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
   <li><%= link_to '動画投稿一覧', videos_path, class: "nav-link" %></li>
   <li><%= link_to '動画投稿', new_video_path, class: "nav-link" %></li>
   <li><%= link_to 'ログアウト', logout_path, class: "nav-link", data: { turbo_method: :delete } %></li>
  </ul>
</div>
